.App {
  height: 100vh; /* Make sure your app fills the whole viewport */
  background-image: url('../src/assets/img/v722-aum-31b.jpg'); /* Path to your image */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}